{% extends 'base.html' %}

{% block title %}File{% endblock %}

{% block content %}
    <div class="my-4">
        <h1 class="text-center">{{ datum.title }}</h1>
        <h4 class="text-center">{{ datum.description }}</h4>
        <div class="justify-content-center">
            {% for file in datum.files.all %}
                <a href="{{ file.file.url }}">
                    {{ file.file.url }}
                </a>
                <br>
            {% endfor %}
        </div>

        <h6 style="margin-top: 12px;">Click on the above links to display the corresponding pdf</h6>
        <a href="{% url 'new_upload' %}">
            <button type="button" class="btn btn-primary my-4">
                Add a new File
            </button>
        </a>

        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-success my-4">
                All Files
            </button>
        </a>
    </div>
{% endblock %}
