{% extends 'base.html' %}

{% block content %}

    {% for datum in data %}
        <div class="card my-4">
            <a href="{{ datum.file_flagship.url }}" style="font-size: 20px">
                {{ datum.file_flagship.url }}
            </a>
            <div class="card-body">
                <h6>Click on the above link to view the pdf</h6>
                <h5 class="card-title">{{ datum.title }}</h5>
                <p class="card-text">{{ datum.description }}</p>
                <a href="{% url 'file_view' datum.pk %}">View all files</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ datum.uploaded_at }}</small>
            </div>
        </div>
    {% endfor %}

    <a href="{% url 'new_upload' %}">
        <button type="button" class="btn btn-primary my-2">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload Files
        </button>
    </a>

{% endblock %}

{% block javascript %}
{% endblock %}
